.cheque-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0984e3;
  color: white;
}